extends ../components/base/layout

block variables
  - const title = "Главная"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "index.html"

block main
  main
    +intro()
    +bonuses()
    +registration()
    +video-block()
    +news()

block modals
    +modal("modal--thanks")(data-modal="thanks")
      +modal-thanks()
