extends ../components/base/layout

block variables
  - const title = "Команды"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const hasGoToDiscord = true
  - const currentUrl = "teams.html"

block main
  main
    +teams()
    +news()
    +go-to-discord()
