mixin registration()
  -
    const registration = {
      title: 'Регистрация <br> турнира',
      bg: {
        path: 'content/registration',
        name: 'bg-form',
        format: 'png',
        width: 1920,
        height: 2399,
        altText: 'background'
      },
    }

    const baners = [
      {
        cols: [
          {
            title: 'Регистрация <span>турнира</span>',
            date: '5 - 10',
            month: 'Ноября'
          },
          {
            title: 'Открытая квалификация',
            date: '5 - 11',
            month: 'Ноября'
          }
        ]
      },
      {
        cols: [
          {
            title: 'основная стадия',
            date: '18 - 25',
            month: 'Ноября'
          },
          {
            title: 'Play-in',
            date: '26',
            month: 'Ноября'
          },
          {
            title: 'гранд-финал',
            date: '27',
            month: 'Ноября'
          }
        ]
      }
    ];

  section.registration
    +background(registration.bg)
    .container
      h2.registration__title.title.title--h1 !{registration.title}
      .registration__baners
        each baner in baners
          +baner(baner)

      .registration__wrapper
        h3.registration__subtitle.title.title--h3
          +icon('arrows-down', 79, 79)
          | Регистрация
        .registration__links
          +btn({text: 'Открытая квалификация', href: 'https://battlefy.com/fissure/10-000-pubg-mobile-masters-way-qualifier/6358d0bb8ef78d6e682d953d/info'}).btn--big.btn--bg-red
          +btn({text: 'Открытая квалификация appgallery', href: 'https://battlefy.com/fissure/10-000-pubg-mobile-masters-way-appgallery-qualifier/6360b2f54fa2267e42b8ec44/info'}).btn--big.btn--bg-red

        +form-register()(data-validate).registration__form


