mixin teams()

  -
    const teams = {
      title: 'Команды',
      bg: {
        path: 'content/teams',
        name: 'bg',
        format: 'png',
        width: 1920,
        height: 2680,
        altText: "background"
      },
      teams: [
        {
          trigger: {
            name: 'Команда',
            desc: NaN,
            logo: {
              path: 'content',
              name: 'logo-team',
              format: 'png',
              width: 40,
              hieght: 50,
              altText: 'Логотип команды'
            },
          },
          heads: ["", "Игрок", "Убийства"],
          lines: [
            {
              username:'Имя ник фамилия',
              description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t mpor in ididunt ut labore et dolore magna aliqua.',
              avatar: {
                path: 'content/players',
                name: 'player',
                format: 'jpg',
                width: 74,
                height: 74,
                altText: 'player picture'
              },
              kills: {
                text: "Убийства",
                count: 45
              },
            },
            {
              username:'Имя ник фамилия',
              description: NaN,
              avatar: {
                path: 'content/players',
                name: 'player',
                format: 'jpg',
                width: 74,
                height: 74,
                altText: 'player picture'
              },
              kills: {
                text: "Убийства",
                count: 45
              },
            },
            {
              username:'Имя ник фамилия',
              description: NaN,
              avatar: {
                path: 'content/players',
                name: 'player',
                format: 'jpg',
                width: 74,
                height: 74,
                altText: 'player picture'
              },
              kills: {
                text: "Убийства",
                count: 45
              },
            },
            {
              username:'Имя ник фамилия',
              description: NaN,
              avatar: {
                path: 'content/players',
                name: 'player',
                format: 'jpg',
                width: 74,
                height: 74,
                altText: 'player picture'
              },
              kills: {
                text: "Убийства",
                count: 45
              },
            },
          ]
        },
        {
          trigger: {
            name: 'Команда',
            desc: NaN,
            logo: {
              path: 'content',
              name: 'logo-team',
              format: 'png',
              width: 40,
              hieght: 50,
              altText: 'Логотип команды'
            },
          },
          heads: ["", "Игрок", "Убийства"],
          lines: [
            {
              username:'Имя ник фамилия',
              description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t mpor in ididunt ut labore et dolore magna aliqua.',
              avatar: {
                path: 'content/players',
                name: 'player',
                format: 'jpg',
                width: 74,
                height: 74,
                altText: 'player picture'
              },
              kills: {
                text: "Убийства",
                count: 45
              },
            },
            {
              username:'Имя ник фамилия',
              description: NaN,
              avatar: {
                path: 'content/players',
                name: 'player',
                format: 'jpg',
                width: 74,
                height: 74,
                altText: 'player picture'
              },
              kills: {
                text: "Убийства",
                count: 45
              },
            },
            {
              username:'Имя ник фамилия',
              description: NaN,
              avatar: {
                path: 'content/players',
                name: 'player',
                format: 'jpg',
                width: 74,
                height: 74,
                altText: 'player picture'
              },
              kills: {
                text: "Убийства",
                count: 45
              },
            },
            {
              username:'Имя ник фамилия',
              description: NaN,
              avatar: {
                path: 'content/players',
                name: 'player',
                format: 'jpg',
                width: 74,
                height: 74,
                altText: 'player picture'
              },
              kills: {
                text: "Убийства",
                count: 45
              },
            },
          ]
        },
        {
          trigger: {
            name: 'Команда',
            desc: NaN,
            logo: {
              path: 'content',
              name: 'logo-team',
              format: 'png',
              width: 40,
              hieght: 50,
              altText: 'Логотип команды'
            },
          },
          heads: ["", "Игрок", "Убийства"],
          lines: [
            {
              username:'Имя ник фамилия',
              description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t mpor in ididunt ut labore et dolore magna aliqua.',
              avatar: {
                path: 'content/players',
                name: 'player',
                format: 'jpg',
                width: 74,
                height: 74,
                altText: 'player picture'
              },
              kills: {
                text: "Убийства",
                count: 45
              },
            },
            {
              username:'Имя ник фамилия',
              description: NaN,
              avatar: {
                path: 'content/players',
                name: 'player',
                format: 'jpg',
                width: 74,
                height: 74,
                altText: 'player picture'
              },
              kills: {
                text: "Убийства",
                count: 45
              },
            },
            {
              username:'Имя ник фамилия',
              description: NaN,
              avatar: {
                path: 'content/players',
                name: 'player',
                format: 'jpg',
                width: 74,
                height: 74,
                altText: 'player picture'
              },
              kills: {
                text: "Убийства",
                count: 45
              },
            },
            {
              username:'Имя ник фамилия',
              description: NaN,
              avatar: {
                path: 'content/players',
                name: 'player',
                format: 'jpg',
                width: 74,
                height: 74,
                altText: 'player picture'
              },
              kills: {
                text: "Убийства",
                count: 45
              },
            },
          ]
        },
        {
          trigger: {
            name: 'Команда',
            desc: NaN,
            logo: {
              path: 'content',
              name: 'logo-team',
              format: 'png',
              width: 40,
              hieght: 50,
              altText: 'Логотип команды'
            },
          },
          heads: ["", "Игрок", "Убийства"],
          lines: [
            {
              username:'Имя ник фамилия',
              description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t mpor in ididunt ut labore et dolore magna aliqua.',
              avatar: {
                path: 'content/players',
                name: 'player',
                format: 'jpg',
                width: 74,
                height: 74,
                altText: 'player picture'
              },
              kills: {
                text: "Убийства",
                count: 45
              },
            },
            {
              username:'Имя ник фамилия',
              description: NaN,
              avatar: {
                path: 'content/players',
                name: 'player',
                format: 'jpg',
                width: 74,
                height: 74,
                altText: 'player picture'
              },
              kills: {
                text: "Убийства",
                count: 45
              },
            },
            {
              username:'Имя ник фамилия',
              description: NaN,
              avatar: {
                path: 'content/players',
                name: 'player',
                format: 'jpg',
                width: 74,
                height: 74,
                altText: 'player picture'
              },
              kills: {
                text: "Убийства",
                count: 45
              },
            },
            {
              username:'Имя ник фамилия',
              description: NaN,
              avatar: {
                path: 'content/players',
                name: 'player',
                format: 'jpg',
                width: 74,
                height: 74,
                altText: 'player picture'
              },
              kills: {
                text: "Убийства",
                count: 45
              },
            },
          ]
        }
      ]
    };

  section.teams
    +background(teams.bg)
    .container.container--sm
      h1.teams__title.title.title--h1 !{teams.title}
      .teams__tabs.tabs(data-tabs="parent")
        .tabs__controls(data-tabs="controls")
          button.tabs__control(type="button" aria-label="Открытая квалификация" data-tabs="control") Открытая квалификация
          button.tabs__control(type="button" aria-label="Открытая квалификация" data-tabs="control") Основная стадия
          button.tabs__control(type="button" aria-label="Открытая квалификация" data-tabs="control") Плей-ин
          button.tabs__control(type="button" aria-label="Открытая квалификация" data-tabs="control") Гранд-финал
        .tabs__content(data-tabs="content")
          .tabs__element(data-tabs="element")
            .teams__list
              each team in teams.teams
                +accordion(team, "team")

          .tabs__element(data-tabs="element")
            span Основная стадия
          .tabs__element(data-tabs="element")
            span Плей ин
          .tabs__element(data-tabs="element")
            span Гранд финал
