.custom-input,
.custom-textarea {
  position: relative;

  display: flex;

  label {
    display: flex;
    flex-direction: column;
    width: 100%;

    input,
    textarea {
      flex-grow: 1;
      min-height: 36px;
      padding: 7px;
      font-size: 16px;
      line-height: normal;
      color: $color-default-white;
      background-color: transparent;
      border: 1px solid $color-default-white;
      outline: none;
      transition: border $trans-default;

      @include vp-767 {
        font-size: 12px;
      }

      &:hover {
        border: 1px solid rgba($color-default-white, 0.5);
      }

      &:focus {
        border: 1px solid rgba($color-default-white, 0.8);
      }

      &::placeholder {
        color: $color-silver;
      }
    }
  }

  &__label {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;

    @include vp-767 {
      margin-bottom: 14px;
      font-size: 16px;
    }

    span {
      text-transform: initial;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: -5px;
    color: $color-torch-red;
    opacity: 0;
    transition: opacity $trans-default;
  }

  &.is-invalid {
    input {
      border: 2px solid $color-torch-red;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-torch-red, 0.5);
      }
    }

    .custom-input__error {
      opacity: 1;
    }
  }

  /*&.is-valid {
    input {
      border: 2px solid $color-malachite;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-malachite, 0.5);
      }
    }
  }*/
}
