.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 842px;
  width: 100%;
  height: 100%;

  @include vp-767 {
    padding: 0;
  }

  &__wrapper {
    width: 100%;
    height: 100%;

    @include vp-767 {
      display: none;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: normal;
    font-weight: 700;
    color: $color-default-white;
    list-style: none;

    @include vp-767 {
      grid-template-columns: repeat(1, 100%);
      grid-row-gap: 0;
      justify-content: center;
      justify-items: center;
      font-size: 16px;
      text-transform: uppercase;
      padding: 36px 0;
    }
  }

  &__item {
    padding: 28px 0;

    &:first-child {
      display: none;

      @include vp-767 {
        display: flex;
      }
    }

    @include vp-767 {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 6px 0;

      &:not(:last-child) {
        border-bottom: 2px solid $color-fire-engine-red;
      }
    }
  }

  &__link {

    &.is-active {
      position: relative;
      text-decoration: underline;
      text-decoration-color: $color-torch-red;
      text-underline-offset: 32px;
      text-decoration-thickness: 3px;

      @include vp-767 {
        text-decoration: none;
      }
    }
  }

  &__toggle {
    position: absolute;
    top: -19px;
    right: 4px;
    display: none;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 38px;
    height: 25px;
    padding: 6px 12px;
    background: 0 0;
    border: 0;
    z-index: 20;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &>span {
      position: relative;
      display: inline-block;
      width: 38px;
      height: 3px;
      vertical-align: bottom;
      background: $color-fire-engine-red;
      border-radius: 10px;
      transition: background .1s .500ms;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background: $color-fire-engine-red;
        border-radius: 10px;
        transform-origin: 50% 50%;
        transition: top .3s .3s,transform .3s;
      }

      &::before {
        top: 10px;
      }

      &::after {
        top: -10px;
      }
    }

    @include vp-767 {
      display: flex;
    }
  }

  &.is-opened {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 36px 30px 50px;
    overflow-y: auto;
    flex-direction: column;
    z-index: 10;

    .main-nav {
      &__toggle {
        width: 33px;
        top: 1px;
        right: 37px;
        // margin-right: 35px;

        &>span {
          width: 33px;
          background-color: transparent;

        &::before,
        &::after {
          top: 0;
          height: 4px;
        }

        &:before {
          transform: rotate3d(0, 0, 1, -45deg);
        }

        &::after {
          transform: rotate3d(0, 0, 1, 45deg);
        }
        }
      }

      &__wrapper {
        display: block;
      }
    }
  }
}
