.team {
  display: flex;
  align-items: center;
  justify-content: center;

  @include vp-767 {
    justify-content: flex-start;
  }
}

.team-logo {
  flex-shrink: 0;
  margin-right: 25px;

  img {
    width: 26px;
    height: 32px;
  }
}

.team-username {
  @include vp-767 {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.team-description {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.team-kills {
  display: none;

  @include vp-767 {
    display: flex;
    justify-content: space-between;
    color: $color-fire-engine-red;
  }
}

.team-avatar {
  img {
    width: 74px;
    height: 74px;
    margin: 0 auto;

    @include vp-767 {
      width: 70px;
      height: 70px;
    }
  }
}
