.container {
  width: 100%;
  max-width: 1245px;
  margin: 0 auto;
  padding: 0 40px;

  @include vp-767 {
    padding: 0 30px;
  }

  &--sm {
    width: 100%;
    max-width: 1104px;
    padding: 0 40px;

    @include vp-767 {
      padding: 0 30px;
    }
  }
}
