include ./base/header
include ./base/footer
include ./base/modal

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/picture-media
include ./utils/sprite

include ./modals/modal-thanks

include ./blocks/qr-codes
include ./blocks/intro
include ./blocks/bonuses
include ./blocks/appgallery-qualification
include ./blocks/registration
include ./blocks/baner
include ./blocks/news-card
include ./blocks/team-table
include ./blocks/schedule-table
include ./blocks/rezult-table
include ./blocks/form-register
include ./blocks/go-to-discord
include ./blocks/video-block
include ./blocks/news
include ./blocks/news-page
include ./blocks/teams
include ./blocks/regulations
include ./blocks/faq
include ./blocks/faq-item
include ./blocks/schedule

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/logo
include ./mixins/background
include ./mixins/accordion
include ./mixins/video
include ./mixins/slider
